html, body {
    background: rgb(49,3,87);
    background: linear-gradient(180deg, rgba(49,3,87,1) 0%, rgba(0,0,0,1) 100%); 
    background-attachment: fixed;
    color: #eef;
    height: 100%;
    margin: 0;
    padding: 5px;
}
.container {
    text-align: center;
    min-height: 100%;
    margin-bottom: -50px;
}
.button-container, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.contract-buttons {
    margin: 10px auto;
    padding: 10px 40px;
    font-size: 1.1rem;
    background-color: #aff;
    border-radius: 5px;
}
.eth-amount {
    width: 13%;
    margin: 10px 5px;
    border-radius: 5px;
}
footer {
    height: 50px;
    margin-top: -50px;
    text-align: center;
  }